


<div class="row">
  <div class="col-sm-6">
    <h1>Consultations</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_consultation_path, class: 'btn btn-primary' do %>
    Add New Consultation
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Title</th>
            <th>Description</th>
            <th>Start time</th>
            <th>End time</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @consultations.each do |consultation| %>
        <%= content_tag :tr, id: dom_id(consultation), class: dom_class(consultation) do %>
          

                      <td><%= consultation.title %></td>
                      <td><%= consultation.description %></td>
                      <td><%= consultation.start_time %></td>
                      <td><%= consultation.end_time %></td>
          
          
            <td><%= link_to 'Show', consultation %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
